/* App Styles */

/* Color Palette: https://colorpalettes.net/color-palette-164/ */

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

p {
    color: #333333 !important;
}

.App {
  text-align: center;
}

.hide-div {
    display: none;
}

.btn-primary {
    /*
    background-color: #008000 !important;
    border-color: #008000 !important;
    */
    background-color: #35743B !important;
    border-color: #35743B !important;
}

.btn-primary:hover {
    background-color: #2F4B26 !important;
    border-color: #2F4B26 !important;
}

/* Background Animation */
$bg-url: "/assets/gridme-green.png";
$bg-width: 50px;
$bg-height: 50px;

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}

/* Join Styles */

.link-text {
    margin: 0;
}

.link {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #3C3E3C;
    text-decoration: underline;
    cursor: pointer;
}

.join-div {
    text-align: -webkit-center;
}

.join-outer-container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #8ABB75;

    /* img size is 50x50 */
    background: url($bg-url) repeat 0 0;
    
    -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
    -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
    -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
    animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function:    linear;
    -o-animation-timing-function:      linear;
    animation-timing-function:         linear;
}

.join-inner-container {
    width: 20%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px #35743B;
}

.join-input {
    width: 80% !important;
    color: #333333 !important;
}

.join-header {
    color: #333333;
    font-size: 2.5em;
    padding-bottom: 20px;
    padding-top: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

/* Game Board Styles */

#board {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ffe8a4;
    border-radius: 20px;
    z-index: 1;
}

.intersection {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    box-sizing: border-box;
}

.intersection:before {
    border-top: 2px #000 solid;
    width: 40px;
    display: block;
    content: "";
    top: 18px;
    position: absolute;
    z-index: -1;
}

.intersection:after {
    border-left: 2px #000 solid;
    height: 40px;
    display: block;
    content: "";
    left: 18px;
    top: 0px;
    position: absolute;
    z-index: -1;
}

.intersection.black, .intersection.white {
    border: 1px solid #000;
}

.intersection.black {
    background-color: #444;
}

.intersection.white {
    background-color: #eee;
}

.board-container {
    text-align: -webkit-center;
}